<html>
  <head>
    <title>Faces viewer</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    {% if settings["no_blur"] %}
      {% set img_style = "img_vis" %}
    {% else %}
      {% set img_style = "img_blur" %}
    {% endif %}
    {# Tricky, need to know image size to properly draw face bbox.... #}
    {% if settings["max_height"] %}
      {% set max_height = settings["max_height"] %}
    {% else %}
      {% set max_height = 300 %}
    {% endif %}

    {% for query_face, similar_faces in search_results %}
      {% set query_face_id = query_face[0]+'_'+'_'.join(query_face[2]) %}
      <h2>Query face:</h2>
      <canvas id="canvas_query_{{query_face_id}}">Your browser does not support the HTML5 canvas tag.</canvas>
      <script>
        var ctxt_{{query_face_id}} = document.getElementById('canvas_query_{{query_face_id}}').getContext("2d");
        var img_{{query_face[0]}} = new Image();
        img_{{query_face[0]}}.src = "{{query_face[1]}}";
        img_{{query_face[0]}}.onload = function () {
          ctxt_{{query_face_id}}.canvas.width = img_{{query_face[0]}}.width;
          ctxt_{{query_face_id}}.canvas.height = img_{{query_face[0]}}.height;
          ctxt_{{query_face_id}}.drawImage(img_{{query_face[0]}}, 0, 0);
          {% if query_face[2]|length == 4 %}
          ctxt_{{query_face_id}}.rect({{query_face[2][0]}},{{query_face[2][1]}},{{query_face[2][2]}},{{query_face[2][3]}});
          ctxt_{{query_face_id}}.lineWidth = 6;
          ctxt_{{query_face_id}}.strokeStyle = '#ff0000';
          ctxt_{{query_face_id}}.stroke();
          {% endif %}
        };
      </script>
      <h2>Query results:</h2>
      {% for onesimface in similar_faces %}
        <p>{{onesimeface}}</p>
        {% for sha1, url, bbox, dist, iminfo in onesimface %}
        {% set face_id = sha1+'_'+'_'.join(bbox) %}
        <canvas id="canvas_res_{{face_id}}_query_{{query_face_id}}">Your browser does not support the HTML5 canvas tag.</canvas>
        <script>
          var ctxt_res{{face_id}}_query{{query_face_id}} = document.getElementById('canvas_res_{{face_id}}_query_{{query_face_id}}').getContext("2d");
          var img_{{sha1}} = new Image();
          img_{{sha1}}.src = "{{url}}";
          img_{{sha1}}.onload = function () {
            ctxt_res{{face_id}}_query{{query_face_id}}.canvas.width = img_{{sha1}}.width;
            ctxt_res{{face_id}}_query{{query_face_id}}.canvas.height = img_{{sha1}}.height;
            ctxt_res{{face_id}}_query{{query_face_id}}.drawImage(img_{{sha1}}, 0, 0);
            ctxt_res{{face_id}}_query{{query_face_id}}.rect({{bbox[0]}},{{bbox[1]}},{{bbox[2]}},{{bbox[3]}});
            ctxt_res{{face_id}}_query{{query_face_id}}.lineWidth = 6;
            ctxt_res{{face_id}}_query{{query_face_id}}.strokeStyle = '#ff0000';
            ctxt_res{{face_id}}_query{{query_face_id}}.font = '18px serif';
            ctxt_res{{face_id}}_query{{query_face_id}}.fillText({{ "%0.4f"|format(dist) }},10,25);
            ctxt_res{{face_id}}_query{{query_face_id}}.stroke();
          };
        </script>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  <script>
  </script>
  </body>
</html>
