ISIweakLabels/.idea/.name
ISIweakLabels/.idea/encodings.xml
ISIweakLabels/.idea/ISIweakLabels.iml
ISIweakLabels/.idea/misc.xml
ISIweakLabels/.idea/modules.xml
ISIweakLabels/.idea/vcs.xml
ISIweakLabels/.idea/workspace.xml
ISIweakLabels/.idea/dictionaries/svebor.xml
ISIweakLabels/.idea/scopes/scope_settings.xml
PairwiseSim/pairwise-sim.txt
