#setuptools # should be installed first before calling pip install -r requirements.txt

numpy
requests
happybase
urllib3[secure]
python-dateutil

# not needed for precomp
pillow
# for the API
gevent
flask
flask_restful

# only for dev purposes
ipython<6.0
