conf_name="lfw_HG_dlib"

# General verbose level
verbose=4

# Example source for LFW
input_type="local"
source_zip="http://vis-www.cs.umass.edu/lfw/lfw.tgz"
input_path="./data/input_images_lfw"

## Example source Kafka
#input_type="kafka"
#input_topic="backpage-test"
#input_consumer_group="backpage-test-downloaders"

# Extraction type
extr_type="dlibface"
#extr_type="sbpycaffeimg"

# Kafka settings (HG)
kafka_servers='["kafka0.team-hg-memex.com:9093", "kafka1.team-hg-memex.com:9093", "kafka2.team-hg-memex.com:9093", "kafka3.team-hg-memex.com:9093", "kafka4.team-hg-memex.com:9093", "kafka5.team-hg-memex.com:9093", "kafka6.team-hg-memex.com:9093", "kafka7.team-hg-memex.com:9093", "kafka8.team-hg-memex.com:9093", "kafka9.team-hg-memex.com:9093"]'
kafka_security="{\"security_protocol\": \"SSL\", \"ssl_cafile\": \"./data/keys/hg-kafka-ca-cert.pem\", \"ssl_certfile\": \"./data/keys/hg-kafka-client-cert.pem\", \"ssl_keyfile\": \"./data/keys/hg-kafka-client-key.pem\", \"ssl_check_hostname\": false}"

images_topic="test-local-lfw"
updates_topic="test-local-lfw-dlibface-updates"
extr_check_consumer_group="test-local-lfw-dlibface-extrchecker"
extr_proc_consumer_group="test-local-lfw-dlibface-extrproc"
## Kafka settings (local) # Could not get this to work yet
#kafka_servers="[\"localhost:9092\"]"

# HBase settings
hbase_host="10.1.94.57" #(MEMEX)
#hbase_host="localhost" #(local)
table_sha1infos="test_"${conf_name}"_infos"
table_updateinfos="test_"${conf_name}"_update_infos"
batch_update_size=1000

# Searcher settings
model_type="lopq_pca"
nb_train=13233
nb_train_pca=13233
lopq_pcadims=128
lopq_V=256
lopq_M=16
lopq_subq=256
file_input="true"
storer="local"

# API settings
port_host=80
endpoint=cufacesearch
#endpoint=cuimgsearch